@font-face {
  font-family: "mjgarganis Lab";
  src: url(./mjgarganis_lab.woff) format('woff2');
}

@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sono/v1/aFT97PNiY3U2Cqf_aYEN64CYaK18YWJEsV6u-QLiOsxVtkWtFX55.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
}

@media  (orientation: landscape) {
  body {
    font-size: calc(.1rem + 1vw);
  }
}

@media  (orientation: portrait) {
  body {
    font-size: calc(.1rem + 1vh);
  }
}

#root_loading {
  position: fixed;
  margin: 0;
  padding: 0;
  height: min-content;
  width: min-content;
  top: 42%;
  left: 47%;
  font-family: "mjgarganis Lab", sans-serif;
  font-size: 10em;
  color: white;
  animation: rotatePotion 5s infinite linear;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes rotatePotion {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}