@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "mjgarganis Lab";
  src: url(/fonts/mjgarganis_lab.woff2) format('woff2');
  font-display: swap;
}

@layer base {
  h1 {
    font-family: "mjgarganis Lab", system-ui;
    @apply text-3xl md:text-4xl font-bold;
  }

  h2 {
    font-family: "Sono", monospace;
    @apply text-2xl font-semibold;
  }
}