name: Node CI
run-name: Run linter, format and test

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  ci:
    name: File check; Linter; Prettier; Vitest
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint -- --max-warnings=0

      - name: Run TypeScript compiler
        run: npx tsc --noEmit

      - name: Run Prettier to format code
        run: npm run format

      - name: Run Vitest coverage tests
        run: npm run test:badges

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci-bot: fixes/format/badges from ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
