@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

@font-face {
  font-family: "mjgarganis Lab", "Sono", monospace, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mjgarganis_lab.woff2) format('woff2');
  font-display: swap;
}

@layer base {
  h1 {
    font-family: "mjgarganis Lab", monospace, sans-serif;
    @apply text-3xl md:text-4xl font-bold;
  }

  h2 {
    font-family: "Sono", monospace, sans-serif;
    @apply text-2xl font-semibold;
  }
}